[submodule "01-todo-list-api"]
	path = 01-todo-list-api
	url = https://github.com/anasfarrouk/todo-list-api.git
[submodule "02-blogging-platform-api"]
	path = 02-blogging-platform-api
	url = https://github.com/anasfarrouk/blogging-platfrom-api.git
[submodule "03-expense-tracker-api"]
	path = 03-expense-tracker-api
	url = https://github.com/anasfarrouk/expense-tracker-api.git
[submodule "04-markdown-note-taking"]
	path = 04-markdown-note-taking
	url = https://github.com/anasfarrouk/markdown-note-taking.git
[submodule "05-caching-proxy-server"]
	path = 05-caching-proxy-server
	url = https://github.com/anasfarrouk/caching-proxy.git
[submodule "06-ecommerce-api"]
	path = 06-ecommerce-api
	url = https://github.com/anasfarrouk/ecommerce-api.git
